**/.terraform/
**/*.tfstate
**/*.tfstate.*
crash.log
crash.*.log
*.tfstate
*.tfstate.*
*.tfvars
*.auto.tfvars
*.pem
.aws/
crash.log
*.key
.github\instructions\snyk_rules.instructions.md
**/.terraform/*
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
infraTerraform/.terraform/